@inherits LayoutComponentBase
@implements IDisposable

<PageTitle>Election2023.ServerApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        @* <div class="top-row px-4 auth">
            <LoginDisplay />
        </div> *@
        <div class="content px-4">
            @Body
        </div>
        <footer>
            <h5 style="color: whitesmoke;">NIGERIA DECIDES 2023</h5>
            <p style="color: gray;">Countdown to the Presidential, National Assembly, and Governorship Elections</p>
            <div class="partners">
                <strong class="text-muted">PARTNERS</strong>
            </div>
            <div class="footer">
                <small>Copywright 2023 - this.web, All Rights Reserved</small>
                <small>Privacy&nbsp;/&nbsp;Cookie Policy&nbsp;/&nbsp;Terms and Condidtions</small>
            </div>
        </footer>
    </main>
</div>

@code{
    private string theTime = "00:00";
    private string theDate = string.Empty;
    private Timer? timer;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        timer = new Timer(Tick, null, 0, 1000);
    }

    private void Tick(object? _)
    {
        theTime = DateTime.Now.ToShortTimeString();
        theDate = DateTime.Now.ToLongDateString();
        InvokeAsync(StateHasChanged);
    }
    
    public void Dispose() 
    {
        timer?.Dispose();
    }
}

