@inherits LayoutComponentBase
@implements IDisposable

<PageTitle>Election2023.ServerApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>
        @* <div class="top-row px-4" style="height: 3rem;">
            Election Results Updates as at: <b>@theTime WAT</b>
            , @theDate
        </div> *@
        <div class="content px-4">
            @Body
        </div>
    </main>
</div>

@code{
    private string theTime = "00:00";
    private string theDate = string.Empty;
    private Timer? timer;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        timer = new Timer(Tick, null, 0, 1000);
    }

    private void Tick(object? _)
    {
        theTime = DateTime.Now.ToShortTimeString();
        theDate = DateTime.Now.ToLongDateString();
        InvokeAsync(StateHasChanged);
    }
    
    public void Dispose() 
    {
        timer?.Dispose();
    }
}

